@font-face {
  font-family: bebas;
  src: url(BebasNeue-Regular.4290ea77.ttf);
}

@font-face {
  font-family: cardo;
  src: url(Cardo-Regular.e6637481.ttf);
}

ul{
  padding: 0;
}

li{
  display: flex;
  list-style: none;
}

body {
  display: flex;
  justify-content: center;
  text-align: center;
  font-family: 'bebas';
}

button{
  background-color: #26e4b6;
  font-size: 24px;
  border-style: none;
}

.titulo{
  font-size: 72px;
  margin-bottom: 0;
}

.board{
  width: 310px;
}

.button{
  width: 100px;
  height: 100px;
  border-style: solid;
  border-color: white;
  background-color: #e8c084;
  font-size: 84px;
}

.blue{
  color: #3723eb;
}

.red{
  color: #f53c3c;
}
