ul{
  padding: 0;
}

li{
  display: flex;
  list-style: none;
}

body {
  display: flex;
  justify-content: center;
  text-align: center;
  font-family: 'Baloo Tamma', cursive;
}

button{
  background-color: #26e4b6;
  font-size: 24px;
  border-style: none;
}

.titulo{
  font-size: 50px;
  margin-bottom: 0;
}

.board{
  width: 310px;
}

.button{
  width: 100px;
  height: 100px;
  border-style: solid;
  background-color: #e8c084;
  font-size: 72px;
}
